# Dependencies
node_modules/

# OS files
.DS_Store
*.DS_Store

# Vite cache
.vite/

# Local env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor directories
.idea/
.vscode/
*.swp
*.swo
