/* P22 Mackinac Pro Font */

@font-face {
  font-family: 'P22 Mackinac Pro';
  src: url('/fonts/p22mackinacpro-book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'P22 Mackinac Pro';
  src: url('/fonts/p22mackinacpro-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'P22 Mackinac Pro';
  src: url('/fonts/p22mackinacpro-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
